*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    min-height: 100vh;
    background-color: darkgray;
    display: flex;
    flex-direction: column;
}

.paragraph{
    font-size: 30px;
}

.header{
    flex-basis: 100%;
    border: 2px solid #000;
    background-color: #fff;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.main-content{
    flex: 1 0 200px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    align-content: center;
}

.item{
    width: 350px;
    height: 250px;
    border: 2px solid #000;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    flex-basis: 100%;
    border: 2px solid #000;
    background-color: #fff;
    padding: 10px;
    display: flex;
    justify-content: center;
}

