*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
}

.logo-rock{
    width: 40px;
}

.logo-onebitcode{
    width: 200px;
}

.buttons{
    display: flex;
    gap: 10px;
}

.buttonHeader{
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 10px;
    background-color: transparent;
    border-color: #fff;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}

.buttonHeader:hover{
    border-color: #ff0044;
}

@media(max-width: 340px) {
    .buttons{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
    }
}

@media(max-width: 425px) {
    .buttons{
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 10px;
    }
}

@media(max-width: 630px) {
    .buttons{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-content: center;
    }
}
